
body{
    margin: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    height: 80px;
    border-bottom: 1px solid lightgrey;
}

.right-nav{
  width: 100%;
  margin-left: 50%;
  margin-right: 60px;
}


.nav-element{
  z-index: 1000;
  border: none;
  background: none;
  color: rgb(60, 60, 60);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 15px;
}
#nav-logout{
  font-size: 18px;
}

.nav-element:hover{
  color: rgb(100, 100, 100);
  transform: scale(1.1);
}

.nav-element i{
  color: inherit;
}


.uncollapsed{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


#bar{
  height: 100%;
  display: flex;
  align-items: right;
  justify-content: flex-end;
  position: relative;
}



.collapsed{
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 260px;
  right: 40px;
}

#btn-logout{
    font-size: 20px;
}

.logo{
    margin-left: 30%;
    margin-top: 1vh;
    width: 130px;
    cursor: pointer;
}

.invisible{
  display: none !important;
}

/* ======PAGINA DI LOGIN====== */

/* .container{
  height:100vh;
  width:100%;
  background-color: #55311c;
} */

.error-space{
  height: 20px;
  position: relative;
}
.error-space p{
  position: absolute;
  top: -10px;
  color: #8c7569;
}


.login_form{
    margin-top: 5vh;
}
.signUp_form, .formUpdate{
  margin-top: 5vh;
  display:none;
}

.logo_login{
  margin-top: 1vh;
  width: 130px;
  cursor: pointer;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    z-index:999;
  }
  
  .modal-container {
    height: 600px;
    
    display: flex;
    max-width: 60vw;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    background: #fff;
    transform: translateY(100px) scale(0.4);
  }
  


  .modal-left {
    padding: 60px 30px 20px;
    background: #fff;
    flex: 1.5;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;
    overflow-y: scroll;
  }

  .modal-left h1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-button {
    color: rgba(0, 0, 0, 0.95);
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 10px 40px;
    border-radius: 30px;
    background: rgb(225, 243, 203);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
    transition: 0.3s;
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%); 
  }
  
  .modal-button:hover {
    border-color: rgba(0, 0, 0, 0.2);
    background: rgb(174, 216, 96);
  }
  
  .modal-right {
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;
  }
  
  .modal-right img {
    width: 100%;
    height: 100%;
    transform: scale(2);
    object-fit: cover;
    transition-duration: 1.2s;
  }

  .modal.is-open {
    height: 100%;
    background: rgba(51, 51, 51, 0.85);
  }
  
  .modal.is-open .modal-button {
    opacity: 0;
  }
  
  .modal.is-open .modal-container {
    opacity: 1;
    transition-duration: 0.6s;
    pointer-events: auto;
    transform: translateY(0) scale(1);
  }
  
  .modal.is-open .modal-right img {
    transform: scale(1);
  }
  
  .modal.is-open .modal-left {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.1s;
  }
  
  .modal-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh; 
  }
  
  .modal-buttons a {
    color: rgba(51, 51, 51, 0.6);
    font-size: 18px;
    margin-top: 2vh;
  }
  .modal-buttons button{
    width:100%;
    height:5vh;
    font-size: 18px;
  }
  
  .sign-up {
    margin: 60px 0 0;
    font-size: 18px;
    text-align: center;
  }
  
  .sign-up a {
    color: #8c7569;
  }


  .input-file{
    width: 90px;
    padding: 8px 12px;
    outline: none;
    border: 1px solid #8c7569 ;
    color: #8c7569;
    border-radius: 4px;
    background: #fff;
    font-family: "Nunito", sans-serif;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .input-button {
    padding: 8px 12px;
    outline: none;
    border: 0;
    color: #fff;
    border-radius: 4px;
    background: #8c7569;
    font-family: "Nunito", sans-serif;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .input-button:hover {
    background: #55311c;
  }
  
  .input-label {
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #8c7569;
    transition: 0.3s;
  }
  .input-block, .textarea-block {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.textarea-block textarea{
  height:10vh;
  resize: none;
}
.input-block input, .textarea-block textarea {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 15px;
    font-family: "Nunito", sans-serif;
}

.input-block input::placeholder, .textarea-block textarea::placeholder {
    color: #ccc;
    opacity: 1;
}

.input-block:focus-within, .textarea-block:focus-within {
    border-color: #8c7569;
}

.input-block:focus-within .input-label, .textarea-block:focus-within .input-label {
    color: rgba(140, 117, 105, 0.8);
}

  
  .icon-button {
    outline: 0;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 32px;
    height: 32px;
    border: 0;
    background: 0;
    padding: 0;
    cursor: pointer;
  }
  
  
  
  @media (max-width: 750px) {
    .modal-container {
      width: 90%;
    }
    .modal-right {
      display: none;
    }
  }


#signUpNow,
#logIn{
  cursor: pointer;
  transition: all 0.15s ease;
}
#signUpNow:hover,
#logIn:hover{
  opacity: 0.6;
}

  

/*home page*/
.travel-content, .post-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  row-gap: 50px;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 70px;
}

@media(max-width: 900px) {
  .travel-content, .post-content {
    grid-template-columns: 1fr;
  }
}

@media(min-width: 901px) {
  .travel-content, .post-content {
    grid-template-columns: 1fr 1fr;
  }
}

.travel{
  position:relative;
  width: 100%;
  height: 140px;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px grey;
  cursor: pointer;
  transition: 0.15s all;
}
.travel:hover{
  box-shadow: 0px 0px 8px 0px grey;
  transform: scale(1.03)
}

.image-space{
  width: 100%;
  height: 70%;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.image-space img{
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.bottom-travel{
  margin-top: 0;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
}
.nome{
  font-size: 32px;
  flex: 5;
}
.user_nome{
  text-align: center;
}
.utente{
  margin-right: 25px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  transition: all 0.15s ease;
}
.utente:hover{
  opacity: 0.6;
}

.utente img{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  object-fit: cover;
}





/*==========user==========*/

.user-content {
  width: fit-content;
  block-size: fit-content;
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: larger;
  position:relative;
}

.contact-info p{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.addPostDiv {
  width: 100%;
  position: relative;
  transition: all 0.3s ease;
}
.addPostDiv:hover{
  opacity: 0.6;
}

#add-post{
  position: absolute;
  top: 40px;
  right: 40px;
  border: 1px solid red;
  border-radius: 5px;
  background: none;
  display: flex;
  flex-direction: row;
  width: 180px;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
#add-post p{
  font-size: 18px;
}

.profile-picture,.profile-picture img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.profile-picture{
  position: relative;
}

.profile-details{
  position: relative;
}
.del_btn{
  color: rgb(176, 21, 4);
  font-size: 30px;
  border:none;
  background-color:white;
  cursor: pointer;
}

#loadingViaggio, #loadingPost{
  height: 45px;
  width: 45px;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loadingProfilo {
  height: 20px;
  width: 20px;
  border: none;
}

/* ===============POST=============== */

.post-container{
  width: 100%;
  /* height: 300px; */
  height: 60vh;
  box-shadow: 0px 0px 4px 0px grey;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.15s ease;
  display:flex;
  flex-direction: column;
  overflow-y: auto;
}

.post-container:hover{
  box-shadow: 0px 0px 8px 0px grey;
  transform: scale(1.03)
}

.top-post{
  height: 70px;
  border-bottom: 1px solid lightgrey;
  padding-left: 20px;
  position: relative;
}

.data-div{
  position: absolute;
  right: 15px;
  bottom: 5px;
}

.titolo-post{
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 20px;
}
.posizione-post{
  margin: 0;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  column-gap: 7px;
}

.posizione-post svg{
  padding-top: 0;
  width: 10px;
}


.middle-post{
  height: 80%;
  border-bottom: 1px solid lightgrey;
  overflow: hidden; 
  position: relative; 
}
.middle-post * {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute; 
  top: 0;
  left: 0;
  right:0;
}
.bottom-post{
  height: 10%;
  padding-left: 20px;
  word-wrap: break-word;
}


#pencil{
  position:absolute;
  height:20px;
  top:30px;
  margin-left:90%;
  cursor: pointer;
}